<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CODER HOUSE</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
</head>
<body>
    <div class="wrapper shadow-sm">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>CODERHOUSE</h3>
                <strong>
                    <i  class="fas fa-bars fa-sm blackicon"></i>
                </strong>
            </div>
            <ul class="list-unstyled components">
                <li>
                    <a href="../index.html">
                        <i class="fas fa-th-large fa-sm blackicon"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="far fa-star blackicon fa-sm"></i>
                        <p>Servicios</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-bolt fa-sm blackicon"></i>
                        <p>Membresía PRO</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-th fa-sm blackicon"></i>
                        <p>Workshops</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-play fa-sm blackicon"></i>
                        <p>Contenidos</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-suitcase fa-sm blackicon"></i>
                        <p>Empleos</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-dollar-sign fa-sm blackicon"></i>
                        <p>Referirrrr</p> 
                    </a>
                </li>
                <li>
                    <a href="indexproyectos.html">
                        <i class="fas fa-rocket fa-sm blackicon"></i>
                        <p>Proyectos</p>
                    </a>
                </li>
            </ul>

            <ul class="list-unstyled component">
                <li>
                    <a href="#">
                        <i class="far fa-moon fa-sm blackicon"></i>
                        <p>Dark Mode</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-sign-out-alt fa-sm blackicon"></i>
                        <p>Salir</p>
                    </a>
                </li>
            </ul>
        </nav>
        <div id="content">
        <header  class="container-fluid no-gutters">
            <div class="row no-gutters">
                <div class="col-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow sticky-top">
                        <a id="sidebarCollapse" class="navbar-brand" href="#">CODERHOUSE</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                          <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Elegí un objetivo
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                  <a class="dropdown-item" href="#">Mi perfil</a>
                                  <a class="dropdown-item" href="#">Comunidad</a>
                                  <a class="dropdown-item" href="#">Newsletter</a>
                                </div>
                              </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#">
                                <i class="far fa-bell fa-lg blackicon"></i>
                              </a>
                            </li>
                            <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user-circle fa-lg blackicon"></i>
                              </a>
                              <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Mi perfil</a>
                                <a class="dropdown-item" href="#">Comunidad</a>
                                <a class="dropdown-item" href="#">Newsletter</a>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </nav>
                </div>
            </div>
            <nav class="col-12 p-3 shadow">
              <ul class="nav justify-content-end">
                <li class="nav-item">
                  <a class="nav-link active" href="#">
                    <i class="far fa-user blackicon"></i>
                    Mi tutor
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <i class="fas fa-bell"></i>
                    Consultorías
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <i class="fas fa-trophy"></i>
                    TOP 10
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <i class="fas fa-users"></i>
                    Compañeros
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <i class="far fa-folder"></i>
                    Carpeta
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <i class="far fa-comments"></i>
                    Chat
                  </a>
                </li>
              </ul>
            </nav>
        </header>
        <main class="row no-gutters">
          <div class="solicitar_container col-12">
            <div class="card text-center shadow">
              <div class="card-body">
                <h5 class="card-title">BENEFICIOS TOP 10.</h5>
                <p class="card-text">
                    Para elegir los beneficios a los que quieras acceder, necesitamos que selecciones
                    todos aquellos que te interesan y una vez que lo solicites, una mentora te va a contactar
                    para gestionarlos.
                </p>
             </div>
            </div>
          </div>
          <div class="beneficios_container col-12">
            <div class="accordion" id="accordionExample">
                <div class="card shadow">
                  <div class="card-header shadow-sm" id="headingOne">                    
                    <h2 class="mb-0"> 
                      <button class="btn btn-block text-center" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <input type="checkbox">
                        Servicio de talento (Armado de CV, Linkedin y Portfolio)
                        <i class="fas fa-chevron-down"></i>
                      </button>
                    </h2>
                  </div>
              
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="card shadow">
                  <div class="card-header shadow-sm" id="headingTwo">
                    <h2 class="mb-0">
                      <button class="btn btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <input type="checkbox">
                        Proyecto real freelance
                        <i class="fas fa-chevron-down"></i>
                      </button>
                    </h2>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="card shadow">
                  <div class="card-header shadow-sm" id="headingThree">
                    <h2 class="mb-0">
                      <button class="btn btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <input type="checkbox">
                        Convertite en tutor de Coder
                        <i class="fas fa-chevron-down"></i>
                      </button>
                    </h2>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="card shadow">
                    <div class="card-header shadow-sm" id="headingFour">
                      <h2 class="mb-0">
                        <button class="btn btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                          <input type="checkbox">
                          Cursada bonificada
                          <i class="fas fa-chevron-down"></i>
                        </button>
                      </h2>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                      <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                    </div>
                  </div>
                  <div class="card shadow">
                    <div class="card-header shadow-sm" id="headingFive">
                      <h2 class="mb-0">
                        <button class="btn btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                          <input type="checkbox">
                          Cupón de descuento
                          <i class="fas fa-chevron-down"></i>
                        </button>
                      </h2>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                      <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                    </div>
                  </div>
              </div>  
          </div>
          
        </main>
        <section class="row no-gutters">
            <div class="col-12 button_container">
                <div class="d-flex flex-row justify-content-end">
                    <a href="response.html">
                        Solicitar beneficios
                    </a>
                </div>
            </div>
        </section>
        </div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="../js/navbar.js"></script>
</body>
</html>