<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CODER HOUSE</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link  rel="stylesheet" href="../assets/css/style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
</head>
<body>
    <div class="wrapper shadow-sm">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>CODERHOUSE</h3>
                <strong>
                    <i  class="fas fa-bars fa-sm blackicon"></i>
                </strong>
            </div>
            <ul class="list-unstyled components">
                <li>
                    <a href="#">
                        <i class="fas fa-th-large fa-sm blackicon"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="far fa-star blackicon fa-sm"></i>
                        <p>Servicios</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-bolt fa-sm blackicon"></i>
                        <p>Membresía PRO</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-th fa-sm blackicon"></i>
                        <p>Workshops</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-play fa-sm blackicon"></i>
                        <p>Contenidos</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-suitcase fa-sm blackicon"></i>
                        <p>Empleos</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-dollar-sign fa-sm blackicon"></i>
                        <p>Referirrrr</p> 
                    </a>
                </li>
                <li>
                    <a href="../index.html">
                        <i class="fas fa-rocket fa-sm blackicon"></i>
                        <p>Proyectos</p>
                    </a>
                </li>
            </ul>

            <ul class="list-unstyled component">
                <li>
                    <a href="#">
                        <i class="far fa-moon fa-sm blackicon"></i>
                        <p>Dark Mode</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-sign-out-alt fa-sm blackicon"></i>
                        <p>Salir</p>
                    </a>
                </li>
            </ul>
        </nav>
        <div id="content">
          <header  class="container-fluid no-gutters">
            <div class="row no-gutters">
                <div class="col-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow sticky-top">
                        <a id="sidebarCollapse" class="navbar-brand" href="#">CODERHOUSE</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                          <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Elegí un objetivo
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                  <a class="dropdown-item" href="#">Mi perfil</a>
                                  <a class="dropdown-item" href="#">Comunidad</a>
                                  <a class="dropdown-item" href="#">Newsletter</a>
                                </div>
                              </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#">
                                <i class="far fa-bell fa-lg blackicon"></i>
                              </a>
                            </li>
                            <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user-circle fa-lg blackicon"></i>
                              </a>
                              <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Mi perfil</a>
                                <a class="dropdown-item" href="#">Comunidad</a>
                                <a class="dropdown-item" href="#">Newsletter</a>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </nav>
                </div>
            </div>
          </header>
          <main class="row no-gutters">
            <nav class="col-12">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Proyectos</a>
                  <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Postulaciones</a>
                </div>
              </nav>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                  <div class="row no-gutters">
                    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 p-4 section_proyecto">
                      <a  href="../index.html">
                        <i class="fas fa-chevron-left"></i>
                        Volver atrás
                      </a>
                      <div class="card shadow-sm mt-3 ml-3">
                        <div class="card-body">
                          <div class="d-flex flex-row justify-content-end">
                            <span class="badge badge-secondary">NEW</span>
                          </div>
                          <h5 class="card-title mt-2">Proyecto Community Manager</h5>
                          <h6>Fecha de publicación:
                            <br>
                            31/06/2020
                          </h6>
                          <div class="row mt-4">
                            <div class="col-xs-12 col-sm-12 col-md-8">
                              <h6>Descripción del proyecto</h6>
                              <p class="card-text">
                                Estoy desarrollando un emprendimiento nuevo de ropa vintage
                                que hace envíos en principio a Buenos Aires y Rosario. Es un emprendimiento
                                que recién comienza y está en proceso de expansión ya que surge como negocio 
                                familiar
                              </p>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4">
                              <h6 class="xs_margin">Remunerado</h6>
                              <p>No</p>
                            </div>
                          </div>
                          <div class="lg_margin">
                            <h6>¿Que busco?</h6>
                            <p>Necesito ayuda para la gestión de redes y manejo de contenido / creación 
                              de contenido para subir diariamente en las redes, para mantenerlas actualizadas.
                            </p>
                          </div>
                          <div>
                            <h6 class="lg_margin">Rubro</h6>
                            <span class="publicidad_badge badge badge-pill">Publicidad</span>
                            <span class="cm_badge badge badge-pill">Community manager</span>
                          </div>
                          <div class="d-flex flex-row justify-content-end mt-3">
                            <button class="btn">Quiero postularme!</button>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4 section_similares">
                      <h2 class="text-center">Proyectos similares</h2>
                      <hr>
                      <div class="overflow_container">
                        <div class="card-deck row no-gutters">
                          <div class="col-12">
                            <div class="card">
                              <div class="card-body">
                                <h5 class="card-title">Proyecto: Estrategia de MKT</h5>
                                <span class="badge mkt-badge badge-pill">Marketing</span>
                                <span class="badge pb-badge badge-pill">Publicidad</span>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 mt-2">
                            <div class="card">
                              <div class="card-body">
                                <h5 class="card-title">Proyecto: Diseño Web</h5>
                                <span class="badge dsg-badge badge-pill">Diseño</span>
                                <span class="badge pb-badge badge-pill">Publicidad</span>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 mt-2">
                            <div class="card">
                              <div class="card-body">
                                <h5 class="card-title">Proyecto: Desarrollo Web</h5>
                                <span class="badge mkt-badge badge-pill">Web</span>
                                <span class="badge dsg-badge badge-pill">Diseño</span>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 mt-2">
                            <div class="card">
                              <div class="card-body">
                                <h5 class="card-title">Proyecto: Estrategia de MKT</h5>
                                <span class="badge mkt-badge badge-pill">Marketing</span>
                                <span class="badge pb-badge badge-pill">Publicidad</span>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 mt-2">
                            <div class="card">
                              <div class="card-body">
                                <h5 class="card-title">Proyecto: Diseño Web</h5>
                                <span class="badge mkt-badge badge-pill">Web</span>
                                <span class="badge dsg-badge badge-pill">Diseño</span>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 mt-2">
                            <div class="card">
                              <div class="card-body">
                                <h5 class="card-title">Proyecto: Desarrollo Web</h5>
                                <span class="badge mkt-badge badge-pill">Web</span>
                                <span class="badge dsg-badge badge-pill">Diseño</span>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 mt-2">
                            <div class="card">
                              <div class="card-body">
                                <h5 class="card-title">Proyecto: Estrategia de MKT</h5>
                                <span class="badge mkt-badge badge-pill">Marketing</span>
                                <span class="badge pb-badge badge-pill">Publicidad</span>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 mt-2">
                            <div class="card">
                              <div class="card-body">
                                <h5 class="card-title">Proyecto: Diseño Web</h5>
                                <span class="badge mkt-badge badge-pill">Web</span>
                                <span class="badge dsg-badge badge-pill">Diseño</span>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 mt-2">
                            <div class="card">
                              <div class="card-body">
                                <h5 class="card-title">Proyecto: Desarrollo Web</h5>
                                <span class="badge mkt-badge badge-pill">Web</span>
                                <span class="badge dsg-badge badge-pill">Diseño</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                  <div class="row no-gutters section_postulaciones text-center card-deck">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 card_container_postulaciones">
                        <div class="card shadow-sm">
                            <div class="card-body">
                              <span class="badge badge-secondary">BÚSQUEDA ACTIVA</span>
                              <h5 class="card-title">Proyecto: Estrategia de MKT</h5>
                              <p class="card-text">Estoy desarrollando un nuevo emprendimiento de ropa vintage que hace envíos...</p>
                              <div>
                                <i class="fas fa-user-edit"></i>
                                <span class="badge badge-dark">9</span>
                              </div>
                              <a href="./views/proyecto.html" class="card-link">Ver más</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 card_container_postulaciones">
                        <div class="card">
                            <div class="card-body">
                              <span class="badge badge-secondary">BÚSQUEDA ACTIVA</span>
                              <h5 class="card-title">Proyecto: Estrategia de MKT</h5>
                              <p class="card-text">Estoy desarrollando un nuevo emprendimiento de ropa vintage que hace envíos...</p>
                              <div>
                                <i class="fas fa-user-edit"></i>
                                <span class="badge badge-dark">9</span>
                              </div>
                              <a href="./views/proyecto.html" class="card-link">Ver más</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 card_container_postulaciones">
                        <div class="card">
                            <div class="card-body">
                              <span class="badge badge-dark badge-secondary">FINALIZADO</span>
                              <h5 class="card-title">Proyecto: Estrategia de MKT</h5>
                              <p class="card-text">Estoy desarrollando un nuevo emprendimiento de ropa vintage que hace envíos...</p>
                              <div>
                                <i class="fas fa-user-edit"></i>
                                <span class="badge badge-dark">9</span>
                              </div>
                              <a href="./views/proyecto.html" class="card-link">Ver más</a>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
          </main>
        </div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="../js/navbar.js"></script>
</body>
</html>