<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CODER HOUSE</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
</head>
<body>
    <div class="wrapper shadow-sm">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>CODERHOUSE</h3>
                <strong>
                    <i  class="fas fa-bars fa-sm blackicon"></i>
                </strong>
            </div>
            <ul class="list-unstyled components">
                <li>
                    <a href="../index.html">
                        <i class="fas fa-th-large fa-sm blackicon"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="far fa-star blackicon fa-sm"></i>
                        <p>Servicios</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-bolt fa-sm blackicon"></i>
                        <p>Membresía PRO</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-th fa-sm blackicon"></i>
                        <p>Workshops</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-play fa-sm blackicon"></i>
                        <p>Contenidos</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-suitcase fa-sm blackicon"></i>
                        <p>Empleos</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-dollar-sign fa-sm blackicon"></i>
                        <p>Referirrrr</p> 
                    </a>
                </li>
                <li>
                    <a href="indexproyectos.html">
                        <i class="fas fa-rocket fa-sm blackicon"></i>
                        <p>Proyectos</p>
                    </a>
                </li>
            </ul>

            <ul class="list-unstyled component">
                <li>
                    <a href="#">
                        <i class="far fa-moon fa-sm blackicon"></i>
                        <p>Dark Mode</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-sign-out-alt fa-sm blackicon"></i>
                        <p>Salir</p>
                    </a>
                </li>
            </ul>
        </nav>
        <div id="content">
        <header  class="container-fluid no-gutters">
            <div class="row no-gutters">
                <div class="col-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow sticky-top">
                        <a id="sidebarCollapse" class="navbar-brand" href="#">CODERHOUSE</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                          <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Elegí un objetivo
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                  <a class="dropdown-item" href="#">Mi perfil</a>
                                  <a class="dropdown-item" href="#">Comunidad</a>
                                  <a class="dropdown-item" href="#">Newsletter</a>
                                </div>
                              </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#">
                                <i class="far fa-bell fa-lg blackicon"></i>
                              </a>
                            </li>
                            <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user-circle fa-lg blackicon"></i>
                              </a>
                              <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Mi perfil</a>
                                <a class="dropdown-item" href="#">Comunidad</a>
                                <a class="dropdown-item" href="#">Newsletter</a>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </nav>
                </div>
            </div>
            <nav class="col-12 p-3 shadow">
              <ul class="nav justify-content-end">
                <li class="nav-item">
                  <a class="nav-link active" href="#">
                    <i class="far fa-user blackicon"></i>
                    Mi tutor
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <i class="fas fa-bell"></i>
                    Consultorías
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="response.html">
                    <i class="fas fa-trophy"></i>
                    TOP 10
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <i class="fas fa-users"></i>
                    Compañeros
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <i class="far fa-folder"></i>
                    Carpeta
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <i class="far fa-comments"></i>
                    Chat
                  </a>
                </li>
              </ul>
            </nav>
        </header>
        <main class="row no-gutters">
          <div class="solicitar_container col-12">
            <div class="card text-center shadow">
              <div class="card-body">
                <h5 class="card-title">TOP 10%</h5>
                <p class="second_date">El resultado final del TOP 10 fue el 22/07/2020</p>
                <p class="card-text">Sumá puntos asistiendo a clases, completando las valoraciones,
                  aprobando desafíos y obteniendo una calificación final para acceder a proyectos pagos.
                </p>
                
             </div>
            </div>
          </div>
          <div class="top10_container col-12">
            <table class="shadow">
              <tr>
                <th></th>
                <th>
                  Asistencia
                </th>
                <th>
                  Ausencia
                </th>
                <th>
                  Valoraciones
                </th>
                <th>
                  Desafíos
                </th>
                <th>
                  Proyecto final
                </th>
              </tr>
              <tr>
                <td>
                  <i class="fas fa-trophy"></i>
                  Andrea
                </td>
                <td>
                  30
                </td>
                <td>
                  0
                </td>
                <td>
                  30
                </td>
                <td>
                  45
                </td>
                <td>
                  10
                </td>
              </tr>
              <tr>
                <td>
                  <i class="fas fa-trophy"></i>
                  Ailen
                </td>
                <td>
                  30
                </td>
                <td>
                  0
                </td>
                <td>
                  30
                </td>
                <td>
                  45
                </td>
                <td>
                  10
                </td>
              </tr>
              <tr>
                <td>
                  <i class="fas fa-trophy"></i>
                  Daniel
                </td>
                <td>
                  30
                </td>
                <td>
                  0
                </td>
                <td>
                  30
                </td>
                <td>
                  45
                </td>
                <td>
                  9
                </td>
              </tr>
              <tr>
                <td>
                  <i class="fas fa-trophy"></i>
                  Nahuel
                </td>
                <td>
                  30
                </td>
                <td>
                  0
                </td>
                <td>
                  30
                </td>
                <td>
                  45
                </td>
                <td>
                  8
                </td>
              </tr>
            </table>
          </div>
        
        </main>
        </div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="../js/navbar.js"></script>
</body>
</html>